Interface/WebContent/wsdl/Buy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="setBuyerData">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
      <element name="carid" type="xsd:int"/>
      <element name="Type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setBuyerDataResponse">
    <complexType>
     <sequence>
      <element name="setBuyerDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setBuyerDataResponse">

      <wsdl:part element="impl:setBuyerDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setBuyerDataRequest">

      <wsdl:part element="impl:setBuyerData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Buy">

      <wsdl:operation name="setBuyerData">

         <wsdl:input message="impl:setBuyerDataRequest" name="setBuyerDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:setBuyerDataResponse" name="setBuyerDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BuySoapBinding" type="impl:Buy">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setBuyerData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setBuyerDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setBuyerDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BuyService">

      <wsdl:port binding="impl:BuySoapBinding" name="Buy">

         <wsdlsoap:address location="http://localhost:8080/Wheels-project/services/Buy"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
