Wheels-project/InterfacePhase/WebContent/wsdl/Search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="searchCar">
    <complexType>
     <sequence>
      <element name="make" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchCarResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchCarReturn" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Car">
    <sequence>
     <element name="carId" type="xsd:int"/>
     <element name="Make" nillable="true" type="xsd:string"/>
     <element name="Model" nillable="true" type="xsd:string"/>
     <element name="Year" nillable="true" type="xsd:string"/>
     <element name="Mileage" nillable="true" type="xsd:string"/>
     <element name="Price" type="xsd:float"/>
     <element name="status" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchCarResponse">

      <wsdl:part element="impl:searchCarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchCarRequest">

      <wsdl:part element="impl:searchCar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Search">

      <wsdl:operation name="searchCar">

         <wsdl:input message="impl:searchCarRequest" name="searchCarRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchCarResponse" name="searchCarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SearchSoapBinding" type="impl:Search">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchCar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchCarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchCarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SearchService">

      <wsdl:port binding="impl:SearchSoapBinding" name="Search">

         <wsdlsoap:address location="http://localhost:8080/Wheels-project/services/Search"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
