Wheels-project/Interface/WebContent/wsdl/ShowCars.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="showcars">
    <complexType/>
   </element>
   <element name="showcarsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="showcarsReturn" type="impl:Car"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Car">
    <sequence>
     <element name="carId" type="xsd:int"/>
     <element name="Make" nillable="true" type="xsd:string"/>
     <element name="Model" nillable="true" type="xsd:string"/>
     <element name="Year" nillable="true" type="xsd:string"/>
     <element name="Mileage" nillable="true" type="xsd:string"/>
     <element name="Price" type="xsd:float"/>
     <element name="status" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="showcarsResponse">

      <wsdl:part element="impl:showcarsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="showcarsRequest">

      <wsdl:part element="impl:showcars" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ShowCars">

      <wsdl:operation name="showcars">

         <wsdl:input message="impl:showcarsRequest" name="showcarsRequest">

       </wsdl:input>

         <wsdl:output message="impl:showcarsResponse" name="showcarsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ShowCarsSoapBinding" type="impl:ShowCars">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="showcars">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="showcarsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="showcarsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ShowCarsService">

      <wsdl:port binding="impl:ShowCarsSoapBinding" name="ShowCars">

         <wsdlsoap:address location="http://localhost:8080/Wheels-project/services/ShowCars"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
